<div class="top-wrapper">
    <div class="container">
        <br><%= image_tag(@user.icon.url, :size => "200x200") if @user.icon.url %>
            <h1><%= @user.name %></h1>
            <h4> <%= @user.email %></h4>
            <br>
            
          <br><br><br><br><br><br>
    </div>
</div>